@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --primary: #E7FAFE;
  --secondry: #63F8DA;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

.loading-spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px);
}
* {
  margin: 0;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
  max-width: 1200px;
}

table, th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
}

tbody, tr {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f0f0f0;
}


.Outer-div-Modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Inner-div-Modal {
  background: #fff;
  width: 600px;
  max-width: 90%;
  height: 500px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Modal-Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Modal-scroll {
  overflow-y: auto;
  flex: 1;
}

/* page layout */
.root-layout {
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  padding-bottom: 12px;
}

main {
  width: 80%;
  margin: 0 auto;
}


/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active {
  background: var(--secondry);
}

.user-details-card {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

/* Breadcrumbs */
.breadcrumbs {
  width: 80%;
  margin: 20px auto;
  justify-content: flex-start;
  display: flex;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb::after{
  content: '>';
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}

.breadcrumbs .crumb a {
  color: #011811;
}

#home  {
  width: 80%;
}

/* Dashboard Card */
.info-DashboardCard {
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  width: 240px;
  display: inline-block;
  margin: 26px 0 0 36px;
  vertical-align: top;
}

.info-DashboardCard:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
}

.form-select {
  width: 5%;
  margin-bottom: 2px;
}
.button-paging {
  margin-left: 10px;
  margin-top: 5px;
}

.icon-span {
  float: right;
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}