:root {
  --primary: #E7FAFE;
  --secondry: #63F8DA;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  /* display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh; */
}
* {
  margin: 0;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table, th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
}

tbody, tr {
  cursor: pointer;
}


.Outer-div-Modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Inner-div-Modal {
  background: #fff;
  width: 600px;
  max-width: 90%;
  height: 500px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Modal-Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Modal-scroll {
  overflow-y: auto;
  flex: 1;
}

/* page layout */
.root-layout {
  width: 100%;
  max-width: 1200px;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  padding-bottom: 12px;
}

main {
  max-width: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active {
  background: var(--secondry);
}